
body {
    margin-top: 50px;
    background-size: auto;
    font-family: 'Roboto', sans-serif;
}


/* Style: 100% width and height to cover the entire window */
#myVideo {
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

/* Content at the bottom of the video/page */
.content {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 70px;
}

.navbar-text {
    justify-content: space-between;
    font-size: 15px;
}

.navbar-brand {
    width: 80px;
    margin: 0 30px 10px 30px;
}

.social-icon {
    margin: 0 20px 0 10px;
}

.social-icon img {
    width: 25px;
    margin: 0 10px 0 5px;

}


.section2 {
    display: flex;
    height: 400px;
}

.section1 {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
}

.section1 p {
    justify-content: center;
    margin-top: 10px;
    color: #5c5b67;
    align-items: center;
}

.section1 .text-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.section2 .left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.left h1 {
    font-size: 40px;
}

.left p {
    color: #848391;
    line-height: 1.8;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 16px;
}

.left div img {
    width: 150px;
}

.left, .right {
    flex: 1;
}

.left img, .right img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*.client-image {*/
/*    width: 80px;*/
/*    height: 80px;*/
/*    border-radius: 50%;*/
/*    overflow: hidden;*/
/*}*/

/*.client-image img {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    object-fit: cover;*/
/*}*/

/*.testimonials {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    background-color: #FFFBF8;*/
/*    padding: 70px;*/
/*}*/


/*.testimonials h1 {*/
/*    color: #A0A1A2;*/
/*    font-size: 20px;*/
/*    margin-bottom: 40px;*/
/*}*/

/*.clients {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*}*/


/*.clients .client {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex: 0.3;*/
/*    align-items: center;*/
/*}*/

/*.client .client-image {*/
/*    margin-bottom: 30px;*/
/*}*/

/*.client p {*/
/*    text-align: center;*/
/*    margin-bottom: 30px;*/
/*    color: #848391;*/
/*    line-height: 1.8;*/
/*    font-family: Arial, Helvetica, sans-serif;*/

/*}*/

/*.client .details {*/
/*    text-align: center;*/
/*}*/

/*.client h4 {*/
/*    color: #A0A1A2;*/
/*    margin: 10px;*/
/*    font-size: 20px;*/
/*}*/

/*carousel*/
.container{
    margin-top: 10%;
    margin-bottom: 10%;
}


.details {
    width: 100%;
    height: 400px;
    display: block;
    text-align: center;
    padding: 40% 5%;
    background: rgba(132, 131, 145, 0.13);
    color: black;
    border-radius: 20px;
}

.details h2{
    font-size: 25px;
    letter-spacing: 2px;
}

.details p {
font-size: 14px;
    color: #646370;
}

.single-box{
    position: relative;
    margin-bottom: 30px;
}

.client-image{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid #fff;
    overflow: hidden;
    top: 50px;
    left: 150px;
    border-radius: 50%;
    object-fit: scale-down;
}

.client-image img{
    width: 110%;
}

.carousel-indicators{
    left: 0;
    top: auto;
    bottom: -70px;
}

.carousel-indicators li{
    background: rgba(69, 73, 103, 0.25);
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-left: 5px;
}

.carousel-indicators .active{
    background: rgba(9, 15, 33, 0.94);
}

/*carousel*/



.explore {
    background-color: rgba(9, 15, 33, 0.94);
}

.section2 h1 {
    color: #64C8C8FF;
    font-size: 35px;
    font-weight: bold;
}


.section2 a {
    color: inherit;
    text-decoration: none;
    background: linear-gradient(
            to right,
            rgba(100, 200, 200, 1),
            rgba(100, 200, 200, 1)
    ),
    linear-gradient(
            to right,
            rgba(255, 0, 0, 1),
            rgba(255, 0, 180, 1),
            rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
}

.section2 a:hover {
    background-size: 0 3px, 100% 3px;
}


.section2 .left p {
    text-align: center;
    color: rgba(255, 255, 255, 0.66);
    font-size: 14px;
    width: 60%;
    justify-content: center;
    margin-top: 20px;
}


#footer {
    text-align: center;
    font-size: 15px;
    background-color: rgba(9, 15, 33, 0.94);
    padding: 20px;
    color: #FFFBF8;
}

#footer a {
    text-decoration: none;
    color: #FFFBF8;
}


